In [157]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [158]:
weather_temp = pd.read_csv("weather1.csv")
weather_extra = pd.read_csv("weather2.csv")
weather_temp1 = pd.read_csv("weather3.csv")
weather_extra1 = pd.read_csv("weather4.csv")

In [159]:
weather_temp.info()
weather_extra.info()
weather_temp1.info()
weather_extra1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         31 non-null     object
 1   Temp_max     31 non-null     int64
 2   temp_min     31 non-null     int64
 3   temp_avg     31 non-null     float64
 4   temp_depart  31 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           31 non-null     object
 1   HDD            31 non-null     int64
 2   CDD            31 non-null     int64
 3   Precipitation  24 non-null     float64
 4   New Snow       31 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         30 non-null     object
 1   temp_max     30 non-null     int64
 2   temp_min     30 non-null     int64
 3   temp_avg     30 non-null     float64
 4   temp_depart  30 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           30 non-null     object
 1   HDD            30 non-null     int64
 2   CDD            30 non-null     int64
 3   Precipitation  29 non-null     float64
 4   New Snow       30 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.3+ KB

In [160]:
weather_temp.head()

       Date  Temp_max  temp_min  temp_avg  temp_depart
0  8/1/2023        78        65      71.5         -2.7
1  8/2/2023        72        60      66.0         -8.1
2  8/3/2023        80        61      70.5         -3.6
3  8/4/2023        80        66      73.0         -1.0
4  8/5/2023        77        66      71.5         -2.5

In [161]:
weather_temp1.head()

       Date  temp_max  temp_min  temp_avg  temp_depart
0  9/1/2023        70        57      63.5         -6.7
1  9/2/2023        80        58      69.0         -1.0
2  9/3/2023        86        64      75.0          5.3
3  9/4/2023        81        67      74.0          4.6
4  9/5/2023        84        67      75.5          6.3

In [162]:
weather_extra.head()

       Date  HDD  CDD  Precipitation  New Snow
0  8/1/2023    0    7            0.0         0
1  8/2/2023    0    1            0.0         0
2  8/3/2023    0    6            0.0         0
3  8/4/2023    0    8            0.0         0
4  8/5/2023    0    7            0.0         0

In [163]:
weather_extra1.head()

         Date  HDD  CDD  Precipitation  New Snow
0  2023-09-01    1    0           0.00       0.0
1  2023-09-02    0    4           0.00       0.0
2  2023-09-03    0   10           0.01       0.0
3  2023-09-04    0    9           0.00       0.0
4  2023-09-05    0   11           0.00       0.0

In [164]:
weather_temp.tail()

         Date  Temp_max  temp_min  temp_avg  temp_depart
26  8/27/2023        72        64      68.0         -3.3
27  8/28/2023        71        62      66.5         -4.6
28  8/29/2023        72        64      68.0         -2.9
29  8/30/2023        82        67      74.5          3.8
30  8/31/2023        73        61      67.0         -3.5

In [165]:
weather_temp1.tail()

         Date  temp_max  temp_min  temp_avg  temp_depart
25  9/26/2023        60        50      55.0         -7.0
26  9/27/2023        64        49      56.5         -5.1
27  9/28/2023        64        52      58.0         -3.2
28  9/29/2023        61        55      58.0         -2.8
29  9/30/2023        62        56      59.0         -1.4

In [166]:
weather_extra.tail()

         Date  HDD  CDD  Precipitation  New Snow
26  8/27/2023    0    3            NaN         0
27  8/28/2023    0    2            NaN         0
28  8/29/2023    0    3           0.29         0
29  8/30/2023    0   10           0.54         0
30  8/31/2023    0    2           0.00         0

In [167]:
weather_extra1.tail()

          Date  HDD  CDD  Precipitation  New Snow
25  2023-09-26   10    0           0.00       0.0
26  2023-09-27    8    0           0.00       0.0
27  2023-09-28    7    0           0.00       0.0
28  2023-09-29    7    0           0.27       0.0
29  2023-09-30    6    0            NaN       0.0

In [168]:
weather_temp.describe()

        Temp_max   temp_min   temp_avg  temp_depart
count  31.000000  31.000000  31.000000    31.000000
mean   78.548387  65.000000  71.774194    -0.980645
std     5.632280   3.366502   4.169010     3.952756
min    70.000000  59.000000  66.000000    -8.100000
25%    73.000000  62.500000  68.000000    -3.700000
50%    78.000000  65.000000  71.500000    -2.500000
75%    84.000000  67.000000  75.250000     2.500000
max    88.000000  71.000000  79.500000     6.200000

In [169]:
weather_temp1.describe()

        temp_max   temp_min   temp_avg  temp_depart
count  30.000000  30.000000  30.000000    30.000000
mean   73.266667  61.566667  67.416667     1.763333
std     9.310481   6.724548   7.630568     5.433389
min    60.000000  49.000000  55.000000    -7.000000
25%    64.500000  57.000000  61.750000    -1.700000
50%    72.500000  59.500000  66.750000     1.050000
75%    79.500000  67.000000  71.875000     4.750000
max    93.000000  75.000000  84.000000    15.400000

In [170]:
weather_extra.describe()

        HDD        CDD  Precipitation  New Snow
count  31.0  31.000000      24.000000      31.0
mean    0.0   6.967742       0.269167       0.0
std     0.0   4.238584       0.506968       0.0
min     0.0   1.000000       0.000000       0.0
25%     0.0   3.000000       0.000000       0.0
50%     0.0   7.000000       0.000000       0.0
75%     0.0  10.500000       0.282500       0.0
max     0.0  15.000000       1.780000       0.0

In [171]:
weather_extra1.describe()

             HDD        CDD  Precipitation  New Snow
count  30.000000  30.000000      29.000000      30.0
mean    1.866667   4.533333       0.129310       0.0
std     2.956388   5.593921       0.302418       0.0
min     0.000000   0.000000       0.000000       0.0
25%     0.000000   0.000000       0.000000       0.0
50%     0.000000   2.000000       0.000000       0.0
75%     2.750000   7.000000       0.120000       0.0
max    10.000000  19.000000       1.520000       0.0

In [172]:
weather_extra.rename(columns = {"New Snow" : "snow"}, inplace = True)

In [173]:
weather_extra1.rename(columns = {"New Snow" : "snow"}, inplace = True)

In [174]:
weather_extra.rename(columns = {"Precipitation" : "precipitation"}, inplace = True)

In [175]:
weather_extra1.rename(columns = {"Precipitation" : "precipitation"}, inplace = True)

In [176]:
weather_extra.columns

Index(['Date', 'HDD', 'CDD', 'precipitation', 'snow'], dtype='object')

In [177]:
weather_extra1.columns

Index(['Date', 'HDD', 'CDD', 'precipitation', 'snow'], dtype='object')

In [178]:
weather_temp.set_index("Date", verify_integrity = True)

           Temp_max  temp_min  temp_avg  temp_depart
Date
8/1/2023         78        65      71.5         -2.7
8/2/2023         72        60      66.0         -8.1
8/3/2023         80        61      70.5         -3.6
8/4/2023         80        66      73.0         -1.0
8/5/2023         77        66      71.5         -2.5
8/6/2023         84        64      74.0          0.1
8/7/2023         75        65      70.0         -3.8
8/8/2023         85        66      75.5          1.8
8/9/2023         85        71      78.0          4.3
8/10/2023        85        70      77.5          3.9
8/11/2023        84        68      76.0          2.5
8/12/2023        82        63      72.5         -0.9
8/13/2023        88        71      79.5          6.2
8/14/2023        85        70      77.5          4.3
8/15/2023        76        67      71.5         -1.6
8/16/2023        70        66      68.0         -5.0
8/17/2023        71        63      67.0         -5.9
8/18/2023        81        67      74.0          1.3
8/19/2023        74        60      67.0         -5.6
8/20/2023        84        66      75.0          2.5
8/21/2023        86        68      77.0          4.7
8/22/2023        75        63      69.0         -3.2
8/23/2023        72        62      67.0         -5.0
8/24/2023        78        59      68.5         -3.4
8/25/2023        73        61      67.0         -4.7
8/26/2023        85        69      77.0          5.5
8/27/2023        72        64      68.0         -3.3
8/28/2023        71        62      66.5         -4.6
8/29/2023        72        64      68.0         -2.9
8/30/2023        82        67      74.5          3.8
8/31/2023        73        61      67.0         -3.5

In [179]:
weather_temp1.set_index("Date", verify_integrity = True)

           temp_max  temp_min  temp_avg  temp_depart
Date
9/1/2023         70        57      63.5         -6.7
9/2/2023         80        58      69.0         -1.0
9/3/2023         86        64      75.0          5.3
9/4/2023         81        67      74.0          4.6
9/5/2023         84        67      75.5          6.3
9/6/2023         87        75      81.0         12.1
9/7/2023         93        75      84.0         15.4
9/8/2023         88        71      79.5         11.2
9/9/2023         85        69      77.0          9.0
9/10/2023        74        68      71.0          3.3
9/11/2023        72        68      70.0          2.6
9/12/2023        77        67      72.0          5.0
9/13/2023        76        67      71.5          4.8
9/14/2023        78        63      70.5          4.1
9/15/2023        70        57      63.5         -2.5
9/16/2023        72        59      65.5         -0.2
9/17/2023        78        59      68.5          3.2
9/18/2023        66        63      64.5         -0.4
9/19/2023        73        61      67.0          2.4
9/20/2023        74        59      66.5          2.3
9/21/2023        69        57      63.0         -0.8
9/22/2023        68        57      62.5         -1.0
9/23/2023        61        58      59.5         -3.6
9/24/2023        63        60      61.5         -1.2
9/25/2023        62        59      60.5         -1.8
9/26/2023        60        50      55.0         -7.0
9/27/2023        64        49      56.5         -5.1
9/28/2023        64        52      58.0         -3.2
9/29/2023        61        55      58.0         -2.8
9/30/2023        62        56      59.0         -1.4

In [180]:
weather_extra.set_index("Date", verify_integrity = True)

           HDD  CDD  precipitation  snow
Date
8/1/2023     0    7           0.00     0
8/2/2023     0    1           0.00     0
8/3/2023     0    6           0.00     0
8/4/2023     0    8           0.00     0
8/5/2023     0    7           0.00     0
8/6/2023     0    9           0.00     0
8/7/2023     0    5            NaN     0
8/8/2023     0   11           1.33     0
8/9/2023     0   13           0.00     0
8/10/2023    0   13           0.04     0
8/11/2023    0   11           0.05     0
8/12/2023    0    8           0.00     0
8/13/2023    0   15           0.15     0
8/14/2023    0   13            NaN     0
8/15/2023    0    7           0.64     0
8/16/2023    0    3            NaN     0
8/17/2023    0    2            NaN     0
8/18/2023    0    9           1.35     0
8/19/2023    0    2           0.00     0
8/20/2023    0   10           0.00     0
8/21/2023    0   12           0.28     0
8/22/2023    0    4           0.00     0
8/23/2023    0    2           0.00     0
8/24/2023    0    4           0.01     0
8/25/2023    0    2           1.78     0
8/26/2023    0   12            NaN     0
8/27/2023    0    3            NaN     0
8/28/2023    0    2            NaN     0
8/29/2023    0    3           0.29     0
8/30/2023    0   10           0.54     0
8/31/2023    0    2           0.00     0

In [181]:
weather_extra1.set_index("Date", verify_integrity = True)

            HDD  CDD  precipitation  snow
Date
2023-09-01    1    0           0.00   0.0
2023-09-02    0    4           0.00   0.0
2023-09-03    0   10           0.01   0.0
2023-09-04    0    9           0.00   0.0
2023-09-05    0   11           0.00   0.0
2023-09-06    0   16           0.00   0.0
2023-09-07    0   19           0.00   0.0
2023-09-08    0   15           0.00   0.0
2023-09-09    0   12           0.13   0.0
2023-09-10    0    6           0.20   0.0
2023-09-11    0    5           0.39   0.0
2023-09-12    0    7           0.09   0.0
2023-09-13    0    7           0.57   0.0
2023-09-14    0    6           0.00   0.0
2023-09-15    1    0           0.00   0.0
2023-09-16    0    1           0.07   0.0
2023-09-17    0    4           0.00   0.0
2023-09-18    0    0           1.52   0.0
2023-09-19    0    2           0.00   0.0
2023-09-20    0    2           0.00   0.0
2023-09-21    2    0           0.00   0.0
2023-09-22    2    0           0.00   0.0
2023-09-23    5    0           0.12   0.0
2023-09-24    3    0           0.31   0.0
2023-09-25    4    0           0.07   0.0
2023-09-26   10    0           0.00   0.0
2023-09-27    8    0           0.00   0.0
2023-09-28    7    0           0.00   0.0
2023-09-29    7    0           0.27   0.0
2023-09-30    6    0            NaN   0.0

In [182]:
weather_temp.index.name = "temp"
weather_temp.index.name

'temp'

In [183]:
weather_temp1.index.name = "temp"
weather_extra.index.name = "temp"
weather_extra1.index.name = "temp"

In [184]:
weather_temp.reset_index()

    temp       Date  Temp_max  temp_min  temp_avg  temp_depart
0      0   8/1/2023        78        65      71.5         -2.7
1      1   8/2/2023        72        60      66.0         -8.1
2      2   8/3/2023        80        61      70.5         -3.6
3      3   8/4/2023        80        66      73.0         -1.0
4      4   8/5/2023        77        66      71.5         -2.5
5      5   8/6/2023        84        64      74.0          0.1
6      6   8/7/2023        75        65      70.0         -3.8
7      7   8/8/2023        85        66      75.5          1.8
8      8   8/9/2023        85        71      78.0          4.3
9      9  8/10/2023        85        70      77.5          3.9
10    10  8/11/2023        84        68      76.0          2.5
11    11  8/12/2023        82        63      72.5         -0.9
12    12  8/13/2023        88        71      79.5          6.2
13    13  8/14/2023        85        70      77.5          4.3
14    14  8/15/2023        76        67      71.5         -1.6
15    15  8/16/2023        70        66      68.0         -5.0
16    16  8/17/2023        71        63      67.0         -5.9
17    17  8/18/2023        81        67      74.0          1.3
18    18  8/19/2023        74        60      67.0         -5.6
19    19  8/20/2023        84        66      75.0          2.5
20    20  8/21/2023        86        68      77.0          4.7
21    21  8/22/2023        75        63      69.0         -3.2
22    22  8/23/2023        72        62      67.0         -5.0
23    23  8/24/2023        78        59      68.5         -3.4
24    24  8/25/2023        73        61      67.0         -4.7
25    25  8/26/2023        85        69      77.0          5.5
26    26  8/27/2023        72        64      68.0         -3.3
27    27  8/28/2023        71        62      66.5         -4.6
28    28  8/29/2023        72        64      68.0         -2.9
29    29  8/30/2023        82        67      74.5          3.8
30    30  8/31/2023        73        61      67.0         -3.5

In [185]:
weather_temp1.reset_index()

    temp       Date  temp_max  temp_min  temp_avg  temp_depart
0      0   9/1/2023        70        57      63.5         -6.7
1      1   9/2/2023        80        58      69.0         -1.0
2      2   9/3/2023        86        64      75.0          5.3
3      3   9/4/2023        81        67      74.0          4.6
4      4   9/5/2023        84        67      75.5          6.3
5      5   9/6/2023        87        75      81.0         12.1
6      6   9/7/2023        93        75      84.0         15.4
7      7   9/8/2023        88        71      79.5         11.2
8      8   9/9/2023        85        69      77.0          9.0
9      9  9/10/2023        74        68      71.0          3.3
10    10  9/11/2023        72        68      70.0          2.6
11    11  9/12/2023        77        67      72.0          5.0
12    12  9/13/2023        76        67      71.5          4.8
13    13  9/14/2023        78        63      70.5          4.1
14    14  9/15/2023        70        57      63.5         -2.5
15    15  9/16/2023        72        59      65.5         -0.2
16    16  9/17/2023        78        59      68.5          3.2
17    17  9/18/2023        66        63      64.5         -0.4
18    18  9/19/2023        73        61      67.0          2.4
19    19  9/20/2023        74        59      66.5          2.3
20    20  9/21/2023        69        57      63.0         -0.8
21    21  9/22/2023        68        57      62.5         -1.0
22    22  9/23/2023        61        58      59.5         -3.6
23    23  9/24/2023        63        60      61.5         -1.2
24    24  9/25/2023        62        59      60.5         -1.8
25    25  9/26/2023        60        50      55.0         -7.0
26    26  9/27/2023        64        49      56.5         -5.1
27    27  9/28/2023        64        52      58.0         -3.2
28    28  9/29/2023        61        55      58.0         -2.8
29    29  9/30/2023        62        56      59.0         -1.4

In [186]:
weather_extra.reset_index()

    temp       Date  HDD  CDD  precipitation  snow
0      0   8/1/2023    0    7           0.00     0
1      1   8/2/2023    0    1           0.00     0
2      2   8/3/2023    0    6           0.00     0
3      3   8/4/2023    0    8           0.00     0
4      4   8/5/2023    0    7           0.00     0
5      5   8/6/2023    0    9           0.00     0
6      6   8/7/2023    0    5            NaN     0
7      7   8/8/2023    0   11           1.33     0
8      8   8/9/2023    0   13           0.00     0
9      9  8/10/2023    0   13           0.04     0
10    10  8/11/2023    0   11           0.05     0
11    11  8/12/2023    0    8           0.00     0
12    12  8/13/2023    0   15           0.15     0
13    13  8/14/2023    0   13            NaN     0
14    14  8/15/2023    0    7           0.64     0
15    15  8/16/2023    0    3            NaN     0
16    16  8/17/2023    0    2            NaN     0
17    17  8/18/2023    0    9           1.35     0
18    18  8/19/2023    0    2           0.00     0
19    19  8/20/2023    0   10           0.00     0
20    20  8/21/2023    0   12           0.28     0
21    21  8/22/2023    0    4           0.00     0
22    22  8/23/2023    0    2           0.00     0
23    23  8/24/2023    0    4           0.01     0
24    24  8/25/2023    0    2           1.78     0
25    25  8/26/2023    0   12            NaN     0
26    26  8/27/2023    0    3            NaN     0
27    27  8/28/2023    0    2            NaN     0
28    28  8/29/2023    0    3           0.29     0
29    29  8/30/2023    0   10           0.54     0
30    30  8/31/2023    0    2           0.00     0

In [187]:
weather_extra1.reset_index()

    temp        Date  HDD  CDD  precipitation  snow
0      0  2023-09-01    1    0           0.00   0.0
1      1  2023-09-02    0    4           0.00   0.0
2      2  2023-09-03    0   10           0.01   0.0
3      3  2023-09-04    0    9           0.00   0.0
4      4  2023-09-05    0   11           0.00   0.0
5      5  2023-09-06    0   16           0.00   0.0
6      6  2023-09-07    0   19           0.00   0.0
7      7  2023-09-08    0   15           0.00   0.0
8      8  2023-09-09    0   12           0.13   0.0
9      9  2023-09-10    0    6           0.20   0.0
10    10  2023-09-11    0    5           0.39   0.0
11    11  2023-09-12    0    7           0.09   0.0
12    12  2023-09-13    0    7           0.57   0.0
13    13  2023-09-14    0    6           0.00   0.0
14    14  2023-09-15    1    0           0.00   0.0
15    15  2023-09-16    0    1           0.07   0.0
16    16  2023-09-17    0    4           0.00   0.0
17    17  2023-09-18    0    0           1.52   0.0
18    18  2023-09-19    0    2           0.00   0.0
19    19  2023-09-20    0    2           0.00   0.0
20    20  2023-09-21    2    0           0.00   0.0
21    21  2023-09-22    2    0           0.00   0.0
22    22  2023-09-23    5    0           0.12   0.0
23    23  2023-09-24    3    0           0.31   0.0
24    24  2023-09-25    4    0           0.07   0.0
25    25  2023-09-26   10    0           0.00   0.0
26    26  2023-09-27    8    0           0.00   0.0
27    27  2023-09-28    7    0           0.00   0.0
28    28  2023-09-29    7    0           0.27   0.0
29    29  2023-09-30    6    0            NaN   0.0

In [188]:
weather1 = pd.concat([weather_temp,weather_temp1])
weather1

           Date  Temp_max  temp_min  temp_avg  temp_depart  temp_max
temp
0      8/1/2023      78.0        65      71.5         -2.7       NaN
1      8/2/2023      72.0        60      66.0         -8.1       NaN
2      8/3/2023      80.0        61      70.5         -3.6       NaN
3      8/4/2023      80.0        66      73.0         -1.0       NaN
4      8/5/2023      77.0        66      71.5         -2.5       NaN
...         ...       ...       ...       ...          ...       ...
25    9/26/2023       NaN        50      55.0         -7.0      60.0
26    9/27/2023       NaN        49      56.5         -5.1      64.0
27    9/28/2023       NaN        52      58.0         -3.2      64.0
28    9/29/2023       NaN        55      58.0         -2.8      61.0
29    9/30/2023       NaN        56      59.0         -1.4      62.0

[61 rows x 6 columns]

In [189]:
weather2 = pd.concat([weather_extra,weather_extra1])
weather2

            Date  HDD  CDD  precipitation  snow
temp
0       8/1/2023    0    7           0.00   0.0
1       8/2/2023    0    1           0.00   0.0
2       8/3/2023    0    6           0.00   0.0
3       8/4/2023    0    8           0.00   0.0
4       8/5/2023    0    7           0.00   0.0
...          ...  ...  ...            ...   ...
25    2023-09-26   10    0           0.00   0.0
26    2023-09-27    8    0           0.00   0.0
27    2023-09-28    7    0           0.00   0.0
28    2023-09-29    7    0           0.27   0.0
29    2023-09-30    6    0            NaN   0.0

[61 rows x 5 columns]

In [190]:
weather = pd.merge(weather1, weather2, on='Date')
weather

,Date,Temp_max,temp_min,temp_avg,temp_depart,temp_max,HDD,CDD,precipitation,snow
0,8/1/2023,78.0,65,71.5,-2.7,NaN,0,7,0.00,0.0
1,8/2/2023,72.0,60,66.0,-8.1,NaN,0,1,0.00,0.0
2,8/3/2023,80.0,61,70.5,-3.6,NaN,0,6,0.00,0.0
3,8/4/2023,80.0,66,73.0,-1.0,NaN,0,8,0.00,0.0
4,8/5/2023,77.0,66,71.5,-2.5,NaN,0,7,0.00,0.0
5,8/6/2023,84.0,64,74.0,0.1,NaN,0,9,0.00,0.0
6,8/7/2023,75.0,65,70.0,-3.8,NaN,0,5,NaN,0.0
7,8/8/2023,85.0,66,75.5,1.8,NaN,0,11,1.33,0.0
8,8/9/2023,85.0,71,78.0,4.3,NaN,0,13,0.00,0.0
9,8/10/2023,85.0,70,77.5,3.9,NaN,0,13,0.04,0.0
10,8/11/2023,84.0,68,76.0,2.5,NaN,0,11,0.05,0.0
11,8/12/2023,82.0,63,72.5,-0.9,NaN,0,8,0.00,0.0
12,8/13/2023,88.0,71,79.5,6.2,NaN,0,15,0.15,0.0
13,8/14/2023,85.0,70,77.5,4.3,NaN,0,13,NaN,0.0
14,8/15/2023,76.0,67,71.5,-1.6,NaN,0,7,0.64,0.0
15,8/16/2023,70.0,66,68.0,-5.0,NaN,0,3,NaN,0.0
16,8/17/2023,71.0,63,67.0,-5.9,NaN,0,2,NaN,0.0
17,8/18/2023,81.0,67,74.0,1.3,NaN,0,9,1.35,0.0
18,8/19/2023,74.0,60,67.0,-5.6,NaN,0,2,0.00,0.0
19,8/20/2023,84.0,66,75.0,2.5,NaN,0,10,0.00,0.0
20,8/21/2023,86.0,68,77.0,4.7,NaN,0,12,0.28,0.0
21,8/22/2023,75.0,63,69.0,-3.2,NaN,0,4,0.00,0.0
22,8/23/2023,72.0,62,67.0,-5.0,NaN,0,2,0.00,0.0
23,8/24/2023,78.0,59,68.5,-3.4,NaN,0,4,0.01,0.0
24,8/25/2023,73.0,61,67.0,-4.7,NaN,0,2,1.78,0.0
25,8/26/2023,85.0,69,77.0,5.5,NaN,0,12,NaN,0.0
26,8/27/2023,72.0,64,68.0,-3.3,NaN,0,3,NaN,0.0
27,8/28/2023,71.0,62,66.5,-4.6,NaN,0,2,NaN,0.0
28,8/29/2023,72.0,64,68.0,-2.9,NaN,0,3,0.29,0.0
29,8/30/2023,82.0,67,74.5,3.8,NaN,0,10,0.54,0.0
30,8/31/2023,73.0,61,67.0,-3.5,NaN,0,2,0.00,0.0

In [191]:
weather = weather.drop(columns='temp_max')
weather.rename(columns = {"Temp_max" : "temp_max"}, inplace = True)

In [192]:
def temp_range(row):
    return (row['temp_max'] - row['temp_min'])
weather['temp_range'] = weather.apply(temp_range, axis=1)
weather.info()
weather

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           31 non-null     object
 1   temp_max       31 non-null     float64
 2   temp_min       31 non-null     int64
 3   temp_avg       31 non-null     float64
 4   temp_depart    31 non-null     float64
 5   HDD            31 non-null     int64
 6   CDD            31 non-null     int64
 7   precipitation  24 non-null     float64
 8   snow           31 non-null     float64
 9   temp_range     31 non-null     float64
dtypes: float64(6), int64(3), object(1)
memory usage: 2.5+ KB

,Date,temp_max,temp_min,temp_avg,temp_depart,HDD,CDD,precipitation,snow,temp_range
0,8/1/2023,78.0,65,71.5,-2.7,0,7,0.00,0.0,13.0
1,8/2/2023,72.0,60,66.0,-8.1,0,1,0.00,0.0,12.0
2,8/3/2023,80.0,61,70.5,-3.6,0,6,0.00,0.0,19.0
3,8/4/2023,80.0,66,73.0,-1.0,0,8,0.00,0.0,14.0
4,8/5/2023,77.0,66,71.5,-2.5,0,7,0.00,0.0,11.0
5,8/6/2023,84.0,64,74.0,0.1,0,9,0.00,0.0,20.0
6,8/7/2023,75.0,65,70.0,-3.8,0,5,NaN,0.0,10.0
7,8/8/2023,85.0,66,75.5,1.8,0,11,1.33,0.0,19.0
8,8/9/2023,85.0,71,78.0,4.3,0,13,0.00,0.0,14.0
9,8/10/2023,85.0,70,77.5,3.9,0,13,0.04,0.0,15.0
10,8/11/2023,84.0,68,76.0,2.5,0,11,0.05,0.0,16.0
11,8/12/2023,82.0,63,72.5,-0.9,0,8,0.00,0.0,19.0
12,8/13/2023,88.0,71,79.5,6.2,0,15,0.15,0.0,17.0
13,8/14/2023,85.0,70,77.5,4.3,0,13,NaN,0.0,15.0
14,8/15/2023,76.0,67,71.5,-1.6,0,7,0.64,0.0,9.0
15,8/16/2023,70.0,66,68.0,-5.0,0,3,NaN,0.0,4.0
16,8/17/2023,71.0,63,67.0,-5.9,0,2,NaN,0.0,8.0
17,8/18/2023,81.0,67,74.0,1.3,0,9,1.35,0.0,14.0
18,8/19/2023,74.0,60,67.0,-5.6,0,2,0.00,0.0,14.0
19,8/20/2023,84.0,66,75.0,2.5,0,10,0.00,0.0,18.0
20,8/21/2023,86.0,68,77.0,4.7,0,12,0.28,0.0,18.0
21,8/22/2023,75.0,63,69.0,-3.2,0,4,0.00,0.0,12.0
22,8/23/2023,72.0,62,67.0,-5.0,0,2,0.00,0.0,10.0
23,8/24/2023,78.0,59,68.5,-3.4,0,4,0.01,0.0,19.0
24,8/25/2023,73.0,61,67.0,-4.7,0,2,1.78,0.0,12.0
25,8/26/2023,85.0,69,77.0,5.5,0,12,NaN,0.0,16.0
26,8/27/2023,72.0,64,68.0,-3.3,0,3,NaN,0.0,8.0
27,8/28/2023,71.0,62,66.5,-4.6,0,2,NaN,0.0,9.0
28,8/29/2023,72.0,64,68.0,-2.9,0,3,0.29,0.0,8.0
29,8/30/2023,82.0,67,74.5,3.8,0,10,0.54,0.0,15.0
30,8/31/2023,73.0,61,67.0,-3.5,0,2,0.00,0.0,12.0

In [193]:
weather_18to27 = weather.query("`temp_min` > 65 and `temp_max` < 80")
print(weather_18to27)

         Date  temp_max  temp_min  temp_avg  temp_depart  HDD  CDD  \
4    8/5/2023      77.0        66      71.5         -2.5    0    7
14  8/15/2023      76.0        67      71.5         -1.6    0    7
15  8/16/2023      70.0        66      68.0         -5.0    0    3

    precipitation  snow  temp_range
4            0.00   0.0        11.0
14           0.64   0.0         9.0
15            NaN   0.0         4.0

In [194]:
weather_commoncold = weather.query("`temp_avg` > 64.4")
print(weather_commoncold)

         Date  temp_max  temp_min  temp_avg  temp_depart  HDD  CDD  \
0    8/1/2023      78.0        65      71.5         -2.7    0    7
1    8/2/2023      72.0        60      66.0         -8.1    0    1
2    8/3/2023      80.0        61      70.5         -3.6    0    6
3    8/4/2023      80.0        66      73.0         -1.0    0    8
4    8/5/2023      77.0        66      71.5         -2.5    0    7
5    8/6/2023      84.0        64      74.0          0.1    0    9
6    8/7/2023      75.0        65      70.0         -3.8    0    5
7    8/8/2023      85.0        66      75.5          1.8    0   11
8    8/9/2023      85.0        71      78.0          4.3    0   13
9   8/10/2023      85.0        70      77.5          3.9    0   13
10  8/11/2023      84.0        68      76.0          2.5    0   11
11  8/12/2023      82.0        63      72.5         -0.9    0    8
12  8/13/2023      88.0        71      79.5          6.2    0   15
13  8/14/2023      85.0        70      77.5          4.3    0   13
14  8/15/2023      76.0        67      71.5         -1.6    0    7
15  8/16/2023      70.0        66      68.0         -5.0    0    3
16  8/17/2023      71.0        63      67.0         -5.9    0    2
17  8/18/2023      81.0        67      74.0          1.3    0    9
18  8/19/2023      74.0        60      67.0         -5.6    0    2
19  8/20/2023      84.0        66      75.0          2.5    0   10
20  8/21/2023      86.0        68      77.0          4.7    0   12
21  8/22/2023      75.0        63      69.0         -3.2    0    4
22  8/23/2023      72.0        62      67.0         -5.0    0    2
23  8/24/2023      78.0        59      68.5         -3.4    0    4
24  8/25/2023      73.0        61      67.0         -4.7    0    2
25  8/26/2023      85.0        69      77.0          5.5    0   12
26  8/27/2023      72.0        64      68.0         -3.3    0    3
27  8/28/2023      71.0        62      66.5         -4.6    0    2
28  8/29/2023      72.0        64      68.0         -2.9    0    3
29  8/30/2023      82.0        67      74.5          3.8    0   10
30  8/31/2023      73.0        61      67.0         -3.5    0    2

    precipitation  snow  temp_range
0            0.00   0.0        13.0
1            0.00   0.0        12.0
2            0.00   0.0        19.0
3            0.00   0.0        14.0
4            0.00   0.0        11.0
5            0.00   0.0        20.0
6             NaN   0.0        10.0
7            1.33   0.0        19.0
8            0.00   0.0        14.0
9            0.04   0.0        15.0
10           0.05   0.0        16.0
11           0.00   0.0        19.0
12           0.15   0.0        17.0
13            NaN   0.0        15.0
14           0.64   0.0         9.0
15            NaN   0.0         4.0
16            NaN   0.0         8.0
17           1.35   0.0        14.0
18           0.00   0.0        14.0
19           0.00   0.0        18.0
20           0.28   0.0        18.0
21           0.00   0.0        12.0
22           0.00   0.0        10.0
23           0.01   0.0        19.0
24           1.78   0.0        12.0
25            NaN   0.0        16.0
26            NaN   0.0         8.0
27            NaN   0.0         9.0
28           0.29   0.0         8.0
29           0.54   0.0        15.0
30           0.00   0.0        12.0

In [195]:
weather_common = weather.query("`temp_avg` > 69.8")
print(weather_common)

         Date  temp_max  temp_min  temp_avg  temp_depart  HDD  CDD  \
0    8/1/2023      78.0        65      71.5         -2.7    0    7
2    8/3/2023      80.0        61      70.5         -3.6    0    6
3    8/4/2023      80.0        66      73.0         -1.0    0    8
4    8/5/2023      77.0        66      71.5         -2.5    0    7
5    8/6/2023      84.0        64      74.0          0.1    0    9
6    8/7/2023      75.0        65      70.0         -3.8    0    5
7    8/8/2023      85.0        66      75.5          1.8    0   11
8    8/9/2023      85.0        71      78.0          4.3    0   13
9   8/10/2023      85.0        70      77.5          3.9    0   13
10  8/11/2023      84.0        68      76.0          2.5    0   11
11  8/12/2023      82.0        63      72.5         -0.9    0    8
12  8/13/2023      88.0        71      79.5          6.2    0   15
13  8/14/2023      85.0        70      77.5          4.3    0   13
14  8/15/2023      76.0        67      71.5         -1.6    0    7
17  8/18/2023      81.0        67      74.0          1.3    0    9
19  8/20/2023      84.0        66      75.0          2.5    0   10
20  8/21/2023      86.0        68      77.0          4.7    0   12
25  8/26/2023      85.0        69      77.0          5.5    0   12
29  8/30/2023      82.0        67      74.5          3.8    0   10

    precipitation  snow  temp_range
0            0.00   0.0        13.0
2            0.00   0.0        19.0
3            0.00   0.0        14.0
4            0.00   0.0        11.0
5            0.00   0.0        20.0
6             NaN   0.0        10.0
7            1.33   0.0        19.0
8            0.00   0.0        14.0
9            0.04   0.0        15.0
10           0.05   0.0        16.0
11           0.00   0.0        19.0
12           0.15   0.0        17.0
13            NaN   0.0        15.0
14           0.64   0.0         9.0
17           1.35   0.0        14.0
19           0.00   0.0        18.0
20           0.28   0.0        18.0
25            NaN   0.0        16.0
29           0.54   0.0        15.0

In [196]:
pivot_weather = weather.pivot(index='Date', columns='temp_avg', values='temp_range')
print(pivot_weather)

temp_avg   66.0  66.5  67.0  68.0  68.5  69.0  70.0  70.5  71.5  72.5  73.0  \
Date
8/1/2023    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  13.0   NaN   NaN
8/10/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/11/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/12/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  19.0   NaN
8/13/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/14/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/15/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   9.0   NaN   NaN
8/16/2023   NaN   NaN   NaN   4.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/17/2023   NaN   NaN   8.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/18/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/19/2023   NaN   NaN  14.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/2/2023   12.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/20/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/21/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/22/2023   NaN   NaN   NaN   NaN   NaN  12.0   NaN   NaN   NaN   NaN   NaN
8/23/2023   NaN   NaN  10.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/24/2023   NaN   NaN   NaN   NaN  19.0   NaN   NaN   NaN   NaN   NaN   NaN
8/25/2023   NaN   NaN  12.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/26/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/27/2023   NaN   NaN   NaN   8.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/28/2023   NaN   9.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/29/2023   NaN   NaN   NaN   8.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/3/2023    NaN   NaN   NaN   NaN   NaN   NaN   NaN  19.0   NaN   NaN   NaN
8/30/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/31/2023   NaN   NaN  12.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/4/2023    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  14.0
8/5/2023    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  11.0   NaN   NaN
8/6/2023    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/7/2023    NaN   NaN   NaN   NaN   NaN   NaN  10.0   NaN   NaN   NaN   NaN
8/8/2023    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/9/2023    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

temp_avg   74.0  74.5  75.0  75.5  76.0  77.0  77.5  78.0  79.5
Date
8/1/2023    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/10/2023   NaN   NaN   NaN   NaN   NaN   NaN  15.0   NaN   NaN
8/11/2023   NaN   NaN   NaN   NaN  16.0   NaN   NaN   NaN   NaN
8/12/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/13/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  17.0
8/14/2023   NaN   NaN   NaN   NaN   NaN   NaN  15.0   NaN   NaN
8/15/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/16/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/17/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/18/2023  14.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/19/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/2/2023    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/20/2023   NaN   NaN  18.0   NaN   NaN   NaN   NaN   NaN   NaN
8/21/2023   NaN   NaN   NaN   NaN   NaN  18.0   NaN   NaN   NaN
8/22/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/23/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/24/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/25/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/26/2023   NaN   NaN   NaN   NaN   NaN  16.0   NaN   NaN   NaN
8/27/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/28/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/29/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/3/2023    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/30/2023   NaN  15.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/31/2023   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/4/2023    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/5/2023    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/6/2023   20.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/7/2023    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8/8/2023    NaN   NaN   NaN  19.0   NaN   NaN   NaN   NaN   NaN
8/9/2023    NaN   NaN   NaN   NaN   NaN   NaN   NaN  14.0   NaN

In [197]:
pivot_weather = pivot_weather.reset_index()
melted_weather = pd.melt(pivot_weather, id_vars=['Date'], var_name='temp_avg', value_name='temp_range')
print(melted_weather)

          Date temp_avg  temp_range
0     8/1/2023     66.0         NaN
1    8/10/2023     66.0         NaN
2    8/11/2023     66.0         NaN
3    8/12/2023     66.0         NaN
4    8/13/2023     66.0         NaN
..         ...      ...         ...
615   8/5/2023     79.5         NaN
616   8/6/2023     79.5         NaN
617   8/7/2023     79.5         NaN
618   8/8/2023     79.5         NaN
619   8/9/2023     79.5         NaN

[620 rows x 3 columns]

In [198]:
group = weather.groupby('Date')
mean = group['temp_avg'].mean()
max = group['temp_max'].max()
min = group['temp_min'].min()
print(mean)
print(max)
print(min)

agg_func = {
    'temp_avg': 'mean',
    'temp_max': 'max',
    'temp_min': 'min'
}
agg_func1 = {
    'temp_max': 'max',
    'temp_min': 'min'
}

mean1 = group.agg(agg_func)
max1 = group.agg(agg_func1)
min1 = group.agg(agg_func1)
print(mean1)
print(max1)
print(min1)

mean2 = group.agg(agg_func).mean()
max2 = group.agg(agg_func1).max()
min2 = group.agg(agg_func1).min()
print(mean2)
print(max2)
print(min2)

Date
8/1/2023     71.5
8/10/2023    77.5
8/11/2023    76.0
8/12/2023    72.5
8/13/2023    79.5
8/14/2023    77.5
8/15/2023    71.5
8/16/2023    68.0
8/17/2023    67.0
8/18/2023    74.0
8/19/2023    67.0
8/2/2023     66.0
8/20/2023    75.0
8/21/2023    77.0
8/22/2023    69.0
8/23/2023    67.0
8/24/2023    68.5
8/25/2023    67.0
8/26/2023    77.0
8/27/2023    68.0
8/28/2023    66.5
8/29/2023    68.0
8/3/2023     70.5
8/30/2023    74.5
8/31/2023    67.0
8/4/2023     73.0
8/5/2023     71.5
8/6/2023     74.0
8/7/2023     70.0
8/8/2023     75.5
8/9/2023     78.0
Name: temp_avg, dtype: float64
Date
8/1/2023     78.0
8/10/2023    85.0
8/11/2023    84.0
8/12/2023    82.0
8/13/2023    88.0
8/14/2023    85.0
8/15/2023    76.0
8/16/2023    70.0
8/17/2023    71.0
8/18/2023    81.0
8/19/2023    74.0
8/2/2023     72.0
8/20/2023    84.0
8/21/2023    86.0
8/22/2023    75.0
8/23/2023    72.0
8/24/2023    78.0
8/25/2023    73.0
8/26/2023    85.0
8/27/2023    72.0
8/28/2023    71.0
8/29/2023    72.0
8/3/2023     80.0
8/30/2023    82.0
8/31/2023    73.0
8/4/2023     80.0
8/5/2023     77.0
8/6/2023     84.0
8/7/2023     75.0
8/8/2023     85.0
8/9/2023     85.0
Name: temp_max, dtype: float64
Date
8/1/2023     65
8/10/2023    70
8/11/2023    68
8/12/2023    63
8/13/2023    71
8/14/2023    70
8/15/2023    67
8/16/2023    66
8/17/2023    63
8/18/2023    67
8/19/2023    60
8/2/2023     60
8/20/2023    66
8/21/2023    68
8/22/2023    63
8/23/2023    62
8/24/2023    59
8/25/2023    61
8/26/2023    69
8/27/2023    64
8/28/2023    62
8/29/2023    64
8/3/2023     61
8/30/2023    67
8/31/2023    61
8/4/2023     66
8/5/2023     66
8/6/2023     64
8/7/2023     65
8/8/2023     66
8/9/2023     71
Name: temp_min, dtype: int64
           temp_avg  temp_max  temp_min
Date
8/1/2023       71.5      78.0        65
8/10/2023      77.5      85.0        70
8/11/2023      76.0      84.0        68
8/12/2023      72.5      82.0        63
8/13/2023      79.5      88.0        71
8/14/2023      77.5      85.0        70
8/15/2023      71.5      76.0        67
8/16/2023      68.0      70.0        66
8/17/2023      67.0      71.0        63
8/18/2023      74.0      81.0        67
8/19/2023      67.0      74.0        60
8/2/2023       66.0      72.0        60
8/20/2023      75.0      84.0        66
8/21/2023      77.0      86.0        68
8/22/2023      69.0      75.0        63
8/23/2023      67.0      72.0        62
8/24/2023      68.5      78.0        59
8/25/2023      67.0      73.0        61
8/26/2023      77.0      85.0        69
8/27/2023      68.0      72.0        64
8/28/2023      66.5      71.0        62
8/29/2023      68.0      72.0        64
8/3/2023       70.5      80.0        61
8/30/2023      74.5      82.0        67
8/31/2023      67.0      73.0        61
8/4/2023       73.0      80.0        66
8/5/2023       71.5      77.0        66
8/6/2023       74.0      84.0        64
8/7/2023       70.0      75.0        65
8/8/2023       75.5      85.0        66
8/9/2023       78.0      85.0        71
           temp_max  temp_min
Date
8/1/2023       78.0        65
8/10/2023      85.0        70
8/11/2023      84.0        68
8/12/2023      82.0        63
8/13/2023      88.0        71
8/14/2023      85.0        70
8/15/2023      76.0        67
8/16/2023      70.0        66
8/17/2023      71.0        63
8/18/2023      81.0        67
8/19/2023      74.0        60
8/2/2023       72.0        60
8/20/2023      84.0        66
8/21/2023      86.0        68
8/22/2023      75.0        63
8/23/2023      72.0        62
8/24/2023      78.0        59
8/25/2023      73.0        61
8/26/2023      85.0        69
8/27/2023      72.0        64
8/28/2023      71.0        62
8/29/2023      72.0        64
8/3/2023       80.0        61
8/30/2023      82.0        67
8/31/2023      73.0        61
8/4/2023       80.0        66
8/5/2023       77.0        66
8/6/2023       84.0        64
8/7/2023       75.0        65
8/8/2023       85.0        66
8/9/2023       85.0        71
           temp_max  temp_min
Date
8/1/2023       78.0        65
8/10/2023      85.0        70
8/11/2023      84.0        68
8/12/2023      82.0        63
8/13/2023      88.0        71
8/14/2023      85.0        70
8/15/2023      76.0        67
8/16/2023      70.0        66
8/17/2023      71.0        63
8/18/2023      81.0        67
8/19/2023      74.0        60
8/2/2023       72.0        60
8/20/2023      84.0        66
8/21/2023      86.0        68
8/22/2023      75.0        63
8/23/2023      72.0        62
8/24/2023      78.0        59
8/25/2023      73.0        61
8/26/2023      85.0        69
8/27/2023      72.0        64
8/28/2023      71.0        62
8/29/2023      72.0        64
8/3/2023       80.0        61
8/30/2023      82.0        67
8/31/2023      73.0        61
8/4/2023       80.0        66
8/5/2023       77.0        66
8/6/2023       84.0        64
8/7/2023       75.0        65
8/8/2023       85.0        66
8/9/2023       85.0        71
temp_avg    71.774194
temp_max    78.548387
temp_min    65.000000
dtype: float64
temp_max    88.0
temp_min    71.0
dtype: float64
temp_max    70.0
temp_min    59.0
dtype: float64

In [199]:
drop = weather_extra.dropna(inplace = False)
print(drop)

           Date  HDD  CDD  precipitation  snow
temp
0      8/1/2023    0    7           0.00     0
1      8/2/2023    0    1           0.00     0
2      8/3/2023    0    6           0.00     0
3      8/4/2023    0    8           0.00     0
4      8/5/2023    0    7           0.00     0
5      8/6/2023    0    9           0.00     0
7      8/8/2023    0   11           1.33     0
8      8/9/2023    0   13           0.00     0
9     8/10/2023    0   13           0.04     0
10    8/11/2023    0   11           0.05     0
11    8/12/2023    0    8           0.00     0
12    8/13/2023    0   15           0.15     0
14    8/15/2023    0    7           0.64     0
17    8/18/2023    0    9           1.35     0
18    8/19/2023    0    2           0.00     0
19    8/20/2023    0   10           0.00     0
20    8/21/2023    0   12           0.28     0
21    8/22/2023    0    4           0.00     0
22    8/23/2023    0    2           0.00     0
23    8/24/2023    0    4           0.01     0
24    8/25/2023    0    2           1.78     0
28    8/29/2023    0    3           0.29     0
29    8/30/2023    0   10           0.54     0
30    8/31/2023    0    2           0.00     0

In [200]:
fill = weather_extra.fillna('temp')
print(fill)

           Date  HDD  CDD precipitation  snow
temp
0      8/1/2023    0    7           0.0     0
1      8/2/2023    0    1           0.0     0
2      8/3/2023    0    6           0.0     0
3      8/4/2023    0    8           0.0     0
4      8/5/2023    0    7           0.0     0
5      8/6/2023    0    9           0.0     0
6      8/7/2023    0    5          temp     0
7      8/8/2023    0   11          1.33     0
8      8/9/2023    0   13           0.0     0
9     8/10/2023    0   13          0.04     0
10    8/11/2023    0   11          0.05     0
11    8/12/2023    0    8           0.0     0
12    8/13/2023    0   15          0.15     0
13    8/14/2023    0   13          temp     0
14    8/15/2023    0    7          0.64     0
15    8/16/2023    0    3          temp     0
16    8/17/2023    0    2          temp     0
17    8/18/2023    0    9          1.35     0
18    8/19/2023    0    2           0.0     0
19    8/20/2023    0   10           0.0     0
20    8/21/2023    0   12          0.28     0
21    8/22/2023    0    4           0.0     0
22    8/23/2023    0    2           0.0     0
23    8/24/2023    0    4          0.01     0
24    8/25/2023    0    2          1.78     0
25    8/26/2023    0   12          temp     0
26    8/27/2023    0    3          temp     0
27    8/28/2023    0    2          temp     0
28    8/29/2023    0    3          0.29     0
29    8/30/2023    0   10          0.54     0
30    8/31/2023    0    2           0.0     0

In [201]:
change = SimpleImputer(strategy='constant', fill_value='temp')
change_data = change.fit_transform(weather)
print(change_data)

[['8/1/2023' 78.0 65 71.5 -2.7 0 7 0.0 0.0 13.0]
 ['8/2/2023' 72.0 60 66.0 -8.1 0 1 0.0 0.0 12.0]
 ['8/3/2023' 80.0 61 70.5 -3.6 0 6 0.0 0.0 19.0]
 ['8/4/2023' 80.0 66 73.0 -1.0 0 8 0.0 0.0 14.0]
 ['8/5/2023' 77.0 66 71.5 -2.5 0 7 0.0 0.0 11.0]
 ['8/6/2023' 84.0 64 74.0 0.1 0 9 0.0 0.0 20.0]
 ['8/7/2023' 75.0 65 70.0 -3.8 0 5 'temp' 0.0 10.0]
 ['8/8/2023' 85.0 66 75.5 1.8 0 11 1.33 0.0 19.0]
 ['8/9/2023' 85.0 71 78.0 4.3 0 13 0.0 0.0 14.0]
 ['8/10/2023' 85.0 70 77.5 3.9 0 13 0.04 0.0 15.0]
 ['8/11/2023' 84.0 68 76.0 2.5 0 11 0.05 0.0 16.0]
 ['8/12/2023' 82.0 63 72.5 -0.9 0 8 0.0 0.0 19.0]
 ['8/13/2023' 88.0 71 79.5 6.2 0 15 0.15 0.0 17.0]
 ['8/14/2023' 85.0 70 77.5 4.3 0 13 'temp' 0.0 15.0]
 ['8/15/2023' 76.0 67 71.5 -1.6 0 7 0.64 0.0 9.0]
 ['8/16/2023' 70.0 66 68.0 -5.0 0 3 'temp' 0.0 4.0]
 ['8/17/2023' 71.0 63 67.0 -5.9 0 2 'temp' 0.0 8.0]
 ['8/18/2023' 81.0 67 74.0 1.3 0 9 1.35 0.0 14.0]
 ['8/19/2023' 74.0 60 67.0 -5.6 0 2 0.0 0.0 14.0]
 ['8/20/2023' 84.0 66 75.0 2.5 0 10 0.0 0.0 18.0]
 ['8/21/2023' 86.0 68 77.0 4.7 0 12 0.28 0.0 18.0]
 ['8/22/2023' 75.0 63 69.0 -3.2 0 4 0.0 0.0 12.0]
 ['8/23/2023' 72.0 62 67.0 -5.0 0 2 0.0 0.0 10.0]
 ['8/24/2023' 78.0 59 68.5 -3.4 0 4 0.01 0.0 19.0]
 ['8/25/2023' 73.0 61 67.0 -4.7 0 2 1.78 0.0 12.0]
 ['8/26/2023' 85.0 69 77.0 5.5 0 12 'temp' 0.0 16.0]
 ['8/27/2023' 72.0 64 68.0 -3.3 0 3 'temp' 0.0 8.0]
 ['8/28/2023' 71.0 62 66.5 -4.6 0 2 'temp' 0.0 9.0]
 ['8/29/2023' 72.0 64 68.0 -2.9 0 3 0.29 0.0 8.0]
 ['8/30/2023' 82.0 67 74.5 3.8 0 10 0.54 0.0 15.0]
 ['8/31/2023' 73.0 61 67.0 -3.5 0 2 0.0 0.0 12.0]]

In [206]:
weather['HDD'].replace(0, 'no necesary', regex=True, inplace=True)
weather['CDD'].replace(0, 'not necesary', regex=True, inplace=True)
weather['precipitation'].replace(0, 'no changes', regex=True, inplace=True)
weather['snow'].replace(0, 'no snow', regex=True, inplace=True)
weather

,Date,temp_max,temp_min,temp_avg,temp_depart,HDD,CDD,precipitation,snow,temp_range
0,8/1/2023,78.0,65,71.5,-2.7,no change,7,no change,no change,13.0
1,8/2/2023,72.0,60,66.0,-8.1,no change,1,no change,no change,12.0
2,8/3/2023,80.0,61,70.5,-3.6,no change,6,no change,no change,19.0
3,8/4/2023,80.0,66,73.0,-1.0,no change,8,no change,no change,14.0
4,8/5/2023,77.0,66,71.5,-2.5,no change,7,no change,no change,11.0
5,8/6/2023,84.0,64,74.0,0.1,no change,9,no change,no change,20.0
6,8/7/2023,75.0,65,70.0,-3.8,no change,5,NaN,no change,10.0
7,8/8/2023,85.0,66,75.5,1.8,no change,11,1.33,no change,19.0
8,8/9/2023,85.0,71,78.0,4.3,no change,13,no change,no change,14.0
9,8/10/2023,85.0,70,77.5,3.9,no change,13,0.04,no change,15.0
10,8/11/2023,84.0,68,76.0,2.5,no change,11,0.05,no change,16.0
11,8/12/2023,82.0,63,72.5,-0.9,no change,8,no change,no change,19.0
12,8/13/2023,88.0,71,79.5,6.2,no change,15,0.15,no change,17.0
13,8/14/2023,85.0,70,77.5,4.3,no change,13,NaN,no change,15.0
14,8/15/2023,76.0,67,71.5,-1.6,no change,7,0.64,no change,9.0
15,8/16/2023,70.0,66,68.0,-5.0,no change,3,NaN,no change,4.0
16,8/17/2023,71.0,63,67.0,-5.9,no change,2,NaN,no change,8.0
17,8/18/2023,81.0,67,74.0,1.3,no change,9,1.35,no change,14.0
18,8/19/2023,74.0,60,67.0,-5.6,no change,2,no change,no change,14.0
19,8/20/2023,84.0,66,75.0,2.5,no change,10,no change,no change,18.0
20,8/21/2023,86.0,68,77.0,4.7,no change,12,0.28,no change,18.0
21,8/22/2023,75.0,63,69.0,-3.2,no change,4,no change,no change,12.0
22,8/23/2023,72.0,62,67.0,-5.0,no change,2,no change,no change,10.0
23,8/24/2023,78.0,59,68.5,-3.4,no change,4,0.01,no change,19.0
24,8/25/2023,73.0,61,67.0,-4.7,no change,2,1.78,no change,12.0
25,8/26/2023,85.0,69,77.0,5.5,no change,12,NaN,no change,16.0
26,8/27/2023,72.0,64,68.0,-3.3,no change,3,NaN,no change,8.0
27,8/28/2023,71.0,62,66.5,-4.6,no change,2,NaN,no change,9.0
28,8/29/2023,72.0,64,68.0,-2.9,no change,3,0.29,no change,8.0
29,8/30/2023,82.0,67,74.5,3.8,no change,10,0.54,no change,15.0
30,8/31/2023,73.0,61,67.0,-3.5,no change,2,no change,no change,12.0

In [207]:
change = SimpleImputer(strategy='constant', fill_value='temp')
change_data = change.fit_transform(weather)
print(change_data)

[['8/1/2023' 78.0 65 71.5 -2.7 'no change' 7 'no change' 'no change' 13.0]
 ['8/2/2023' 72.0 60 66.0 -8.1 'no change' 1 'no change' 'no change' 12.0]
 ['8/3/2023' 80.0 61 70.5 -3.6 'no change' 6 'no change' 'no change' 19.0]
 ['8/4/2023' 80.0 66 73.0 -1.0 'no change' 8 'no change' 'no change' 14.0]
 ['8/5/2023' 77.0 66 71.5 -2.5 'no change' 7 'no change' 'no change' 11.0]
 ['8/6/2023' 84.0 64 74.0 0.1 'no change' 9 'no change' 'no change' 20.0]
 ['8/7/2023' 75.0 65 70.0 -3.8 'no change' 5 'temp' 'no change' 10.0]
 ['8/8/2023' 85.0 66 75.5 1.8 'no change' 11 1.33 'no change' 19.0]
 ['8/9/2023' 85.0 71 78.0 4.3 'no change' 13 'no change' 'no change' 14.0]
 ['8/10/2023' 85.0 70 77.5 3.9 'no change' 13 0.04 'no change' 15.0]
 ['8/11/2023' 84.0 68 76.0 2.5 'no change' 11 0.05 'no change' 16.0]
 ['8/12/2023' 82.0 63 72.5 -0.9 'no change' 8 'no change' 'no change'
  19.0]
 ['8/13/2023' 88.0 71 79.5 6.2 'no change' 15 0.15 'no change' 17.0]
 ['8/14/2023' 85.0 70 77.5 4.3 'no change' 13 'temp' 'no change' 15.0]
 ['8/15/2023' 76.0 67 71.5 -1.6 'no change' 7 0.64 'no change' 9.0]
 ['8/16/2023' 70.0 66 68.0 -5.0 'no change' 3 'temp' 'no change' 4.0]
 ['8/17/2023' 71.0 63 67.0 -5.9 'no change' 2 'temp' 'no change' 8.0]
 ['8/18/2023' 81.0 67 74.0 1.3 'no change' 9 1.35 'no change' 14.0]
 ['8/19/2023' 74.0 60 67.0 -5.6 'no change' 2 'no change' 'no change'
  14.0]
 ['8/20/2023' 84.0 66 75.0 2.5 'no change' 10 'no change' 'no change'
  18.0]
 ['8/21/2023' 86.0 68 77.0 4.7 'no change' 12 0.28 'no change' 18.0]
 ['8/22/2023' 75.0 63 69.0 -3.2 'no change' 4 'no change' 'no change'
  12.0]
 ['8/23/2023' 72.0 62 67.0 -5.0 'no change' 2 'no change' 'no change'
  10.0]
 ['8/24/2023' 78.0 59 68.5 -3.4 'no change' 4 0.01 'no change' 19.0]
 ['8/25/2023' 73.0 61 67.0 -4.7 'no change' 2 1.78 'no change' 12.0]
 ['8/26/2023' 85.0 69 77.0 5.5 'no change' 12 'temp' 'no change' 16.0]
 ['8/27/2023' 72.0 64 68.0 -3.3 'no change' 3 'temp' 'no change' 8.0]
 ['8/28/2023' 71.0 62 66.5 -4.6 'no change' 2 'temp' 'no change' 9.0]
 ['8/29/2023' 72.0 64 68.0 -2.9 'no change' 3 0.29 'no change' 8.0]
 ['8/30/2023' 82.0 67 74.5 3.8 'no change' 10 0.54 'no change' 15.0]
 ['8/31/2023' 73.0 61 67.0 -3.5 'no change' 2 'no change' 'no change'
  12.0]]